    <!--Cuerpo-->
    <main>
        <!--Acerca de-->
        <section class="acerca-de">
            <div class="contenedor">
                <div class="texto">
                    <h3 class="titulo">Acerca de</h3>
                    <p>Lorem ipsum dolor sit amet <span class="bold">consectetur</span> adipisicing elit.
                        Nulla accusantium quisquam maiores recusandae! Impedit aspernatur
                        assumenda ducimus <span class="bold">officia</span> error odit amet. Tempora quis a iure
                        doloremque rem ea.
                        Eveniet, voluptas.</p>
                </div>
            </div>
        </section>