    <!--Pie de Pagina-->
    <footer>
        <!--Formulario-->
        <div class="contenedor">
            <section class="contacto">
                <div class=""> </div>
                <h3 class="titulo">Contacto</h3>
                <form action="#" class="formulario">
                    <input type="text" name="nombre" id="nombre" class="nombre" placeholder="Nombre" required>
                    <input type="email" name="correo" id="correo" class="correo" placeholder="Correo" required>
                    <textarea name="mensaje" id="mensaje" class="mensaje" placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar" class="boton">
                </form>
            </section>
        </div>