        <!--Redes Sociales-->
        <section class="redes-sociales">
            <div class="contenedor">
                <a href="https://twitter.com/fjeff503" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/jefferson.pineda.754" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UC93Nu6AyQ7lJbBjOVzCYnUQ" class="youtube" target="_blank"><i class="fa fa-youtube-play"></i></a>
                <a href="https://github.com/fjeff503" class="github" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.instagram.com/jeff_pineda" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
        </section>
        </div>
    </footer>
</body>
</html>