<!--Cabecera-->
    <header>
        <!--va alrevez xq el fondo es en toda la pantalla-->
        <div class="contenedor">
            <nav class="menu">
                <a href="#">Acerca de</a>
                <a href="#">Trabajos</a>
                <a href="#">Contacto</a>
            </nav>

            <div class="contenedorTexto">
                <div class="texto">
                    <h1 class="nombre">{{capitalizar nombre}}</h1>
                    <h2 class="profesion">Desarrollador Web</h2>
                </div>
            </div>

            <div class="foto">
                <img src="assets/img/foto.jpg" alt="Jefferson Pineda">
            </div>
        </div>
    </header>